<div class="wrapper_add_task">
	<form action="" class="add_task_panel">
		<div class="add_task_panel_inner">
			<div class="creator_task_info">
				<h1 class="resposable_creator">
					Ответственный
				</h1>
				<h1 class="resposable_creator">
					№1488
				</h1>
			</div>
			<div class="creators_name">
				<h1 class="creators_name_job">
					Яна #Manager
				</h1>
			</div>
			<input type="text" class="add_task_margin_top1 add_task_input">
			<input type="text" class="add_task_margin_top add_task_input">
			<select name="" id="" class="add_task_margin_top add_task_select">
				<option disabled>Клиент</option>
				<option>123</option>
			</select>
			<input type="text" class="add_task_margin_top add_task_input">
		</div>
	</form>
	<div class="add_task_statistics">
		<div class="add_task_check_deadline">
			<div class="add_task_dumpy dumpy_left">
				<div class="category_choice">
				</div>
			</div>
			<div class="add_task_dumpy dumpy_right">
				<div class="deadline_statistics">
					
				</div>
			</div>
		</div>
		<div class="add_task_statisctics_panel">
			
		</div>
	</div>
</div>