<div class="wrapper_add_task">
	<form action="" class="add_task_panel">
		<div class="add_task_panel_inner">
			<div>
			<div class="creator_task_info">
				<h1 class="resposable_creator">
					Ответственный
				</h1>
				<h1 class="resposable_creator">
					№1488
				</h1>
			</div>
			<div class="creators_name">
				<h1 class="creators_name_job">
					Яна #Manager
				</h1>
			</div>
			<input type="text" class="add_task_margin_top1 add_task_input">
			<input type="text" class="add_task_margin_top add_task_input">
			<select name="" id="" class="add_task_margin_top add_task_select">
				<option disabled>Клиент</option>
				<option>123</option>
			</select>
			<select name="" id="" class="add_task_margin_top add_task_select">
				<option disabled>Клиент</option>
				<option>123</option>
			</select>
			<input type="text" class="add_task_margin_top add_task_input">
			<input type="text" class="add_task_margin_top add_task_input">
			</div>
			<div>
			<input type="text " class="add_task_textarea">
			<input type="submit" class="add_task_margin_top add_task_submit" value="Добавить">
			</div> 
		</div>
	</form>
	<div class="add_task_statistics">
		<div class="add_task_check_deadline">
			<div class="add_task_dumpy dumpy_left">
				<div class="category_choice">
					<select name="" id="" class="add_task_select">
						<option disabled>Клиент</option>
						<option>123</option>
					</select>
				</div>
			</div>
			<div class="add_task_dumpy dumpy_right">
				<div class="deadline_statistics">
					<h1 class="deadline_statistics_top">
						Пятница -
						<font class="deadline_statistics_date">
							22.02.2020
						</font>
					</h1>
					<h1 class="deadline_statistics_top">
							Время (МСК) -
						<font class="deadline_statistics_date">
							14:11
						</font>
					</h1>
				</div>
			</div>
		</div>
		<div class="add_task_statisctics_panel">
			
		</div>
	</div>
</div>