<div class="client_control_body">
	<div class="client_control">
		<div class="client_control_btn_name">
			<div class="client_play_pause"></div>
			<h1 class="client_control_clubname">
				United Gamers | Подольск
			</h1>
		</div>
		<div class="client_control_login">
			<h1 class="client_control_login_text">
				Логин: 
				<font class="client_control_login_l">
					NOVA
				</font>
			</h1>
		</div>
		<div class="client_control_password">
			<h1 class="client_control_login_text">
				Пароль: 
				<font class="client_control_login_l">
					qwerty123
				</font>
			</h1>
			<h1 class="client_control_id_cl">
				№00859
			</h1>
		</div>
	</div>
</div>