<div class="company_stats">
	<h2 class="main_page_titles">
		Показатели компании
	</h2>
	<div class="stats">
		<h2 class="stat_title">
			Показатель
		</h2>
		<h1 class="stat">
			12
		</h1>
	</div>
	<div class="stats">
		<h2 class="stat_title">
			Показатель
		</h2>
		<h1 class="stat">
			12
		</h1>
	</div>
	<div class="stats">
		<h2 class="stat_title">
			Показатель
		</h2>
		<h1 class="stat">
			12
		</h1>
	</div>
	<div class="stats">
		<h2 class="stat_title">
			Показатель
		</h2>
		<h1 class="stat">
			12
		</h1>
	</div>
	<div class="stats">
		<h2 class="stat_title">
			Показатель
		</h2>
		<h1 class="stat">
			12
		</h1>
	</div>
</div>

<div class="company_stats">
	<h2 class="main_page_titles">
		Показатели компании
	</h2>
	<div class="stats">
		<h2 class="stat_title">
			Показатель
		</h2>
		<h1 class="stat">
			12
		</h1>
	</div>
	<div class="stats">
		<h2 class="stat_title">
			Показатель
		</h2>
		<h1 class="stat">
			12
		</h1>
	</div>
	<div class="stats">
		<h2 class="stat_title">
			Показатель
		</h2>
		<h1 class="stat">
			12
		</h1>
	</div>
	<div class="stats">
		<h2 class="stat_title">
			Показатель
		</h2>
		<h1 class="stat">
			12
		</h1>
	</div>
	<div class="stats">
		<h2 class="stat_title">
			Показатель
		</h2>
		<h1 class="stat">
			12
		</h1>
	</div>
</div>

<div class="team_stat">
	<h2 class="team_stats_title">
		Показатели команды
	</h2>
	<div class="stat_row">
		<div class="stat_col">
			<h2 class="stat_text">
				1. @SMM_Artym - 2,5
			</h2>
			<h2 class="stat_text">
				2. @Design_Caша - 2,3
			</h2>
			<h2 class="stat_text">
				3. @Anna - 2.0
			</h2>
		</div>
		<div class="stat_col">
			<h2 class="stat_text">
				4. @SMM_Artym - 1,5
			</h2>
			<h2 class="stat_text">
				5. @Design_Caша - 1,2
			</h2>
			<h2 class="stat_text">
				 6. @Anna - 0,9
			</h2>
		</div>
		<div class="stat_col">
			<h2 class="stat_text">
				7. @SMM_Artym - 0,3
			</h2>
			<h2 class="stat_text">
				7. @SMM_Artym - 0,3
			</h2>
		</div>
	</div>
</div>

<div class="info_main">
	<div class="info_main_inner">
		<h2 class="main_page_titles">
			Информация
		</h2>
		<div class="info_main_content">
			<div class="info_col">
				<h2 class="stat_text">
					Правила компании
				</h2>
				<h2 class="stat_text">
					Должностные инструкции
				</h2>
				<h2 class="stat_text">
					Обучающий материал
				</h2>
			</div>
			<div class="info_col">
				<h2 class="stat_text">
					Схема отделов
				</h2>
				<h2 class="stat_text">
					Правила компании
				</h2>
				<h2 class="stat_text">
					Обучающий материал
				</h2>
			</div>
			<div class="info_col">
				<h2 class="stat_text">
					Схема отделов
				</h2>
				<h2 class="stat_text">
					Правила компании
				</h2>
				<h2 class="stat_text">
					Обучающий материал
				</h2>
			</div>
			<div class="info_col">
				<h2 class="stat_text">
					Схема отделов
				</h2>
				<h2 class="stat_text">
					Схема отделов
				</h2>
			</div>
		</div>
	</div>
</div>