<div class="task">
	<div class="line-deadline">
		
	</div>
	<div class="row1">
		<div class="row1_col1">
			<h1 class="row_title">Клиент: </h1> <h1 class="row_text">123</h1>
		</div>
		<div class="row1_col2">
			<h1 class="row_title">ID задачи: </h1> <h1 class="row_text">123</h1>
		</div>
		<div class="row1_col3">
			<h1 class="row_title">Ответсвенный: </h1> <h1 class="row_text">123</h1>
		</div>
	</div>
	<div class="row2">
		<div class="row2_col1">
			<h1 class="row_title">Направление: </h1> <h1 class="row_text">123</h1>
		</div>
		<div class="row2_col2">
			<h1 class="row_title">Дата публикации:</h1> <h1 class="row_text">123</h1>
		</div>
		<div class="row2_col3">
			<h1 class="row_title">Дедлайн: </h1> <h1 class="row_text">123</h1>
		</div>
		<div class="row2_col4">
			<h1 class="row_title">Исполнитель:</h1> <h1 class="row_text">123</h1>
		</div>
	</div>
	<div class="row3">
		<div class="row3_col1">
			<h1 class="row_title">Название</h1> <h1 class="row_text">123</h1>
		</div>
		<div class="row3_col2">
			<h1 class="row_title">Сроки: </h1> <h1 class="row_text">123</h1>
		</div>
		<div class="row3_col3">
			<h1 class="row_title">Условия: </h1> <h1 class="row_text">123</h1>
		</div>
		<div class="row3_col4">
			<h1 class="row_title">Задача: </h1> <h1 class="row_text">123</h1>
		</div>
	</div>
	<div class="row4">
		<div class="row4_col1">
			<h1 class="row_title">В работе: </h1> <h1 class="row_text">123</h1>
		</div>
		<div class="row4_col2">
			<h1 class="row_title">Завершить: </h1> <h1 class="row_text">123</h1>
		</div>
		<div class="row4_col3">
			<h1 class="row_title">Отложить:</h1> <h1 class="row_text">123</h1>
		</div>
	</div>
</div>

