<div class="task">
	<div class="main_info_task">
		
		<div class="task_checkbox">
			<input type="checkbox" class="custom-checkbox" id="happy" name="happy" value="yes">
			<label for="happy"></label>
		</div>
		<div class="task_clubname_deadline">
			<div class="task_clubname_deadline_inner">
				<h1 class="clubname_task">
					United Gamers | Подольск
				</h1>
				<h1 class="deadline_task">
					<font class="deadline_task_text">Дедлайн:</font><font class="deadline_task_date">19.12.2020</font> 
				</h1>
			</div>
		</div>
		<div class="task_name">
			<div class="task_name_inner">
				<div class="sort_date_task">
					<h1 class="clubname_task">
						Акция | Free Night
					</h1>
					<h1 class="deadline_task">
						<font class="deadline_task_text">Дата публикации: 20.12.2020 </font><font class="deadline_task_date">(14:00 по МСК)</font> 
					</h1>
				</div>
				<div class="task_id_more">
					<h1 class="task_id">
						№00923
					</h1>
					<div class="task_arrow_down">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="task_extra">
		<div class="task_extra_deadline">
			<div class="task_clubname_deadline">
				<div class="task_clubname_deadline_inner">
					<h1 class="clubname_task">
						United Gamers | Подольск
					</h1>
					<h1 class="deadline_task">
						<font class="deadline_task_text">Дедлайн:</font><font class="deadline_task_date">19.12.2020</font> 
					</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="task_color"></div>
</div>
<script>
	$( ".task_arrow_down" ).click(function() {
		$('.task_name, .task_clubname_deadline').toggleClass( "border-bottom" );
		$('.task_extra').slideToggle();
	});
</script>