.task {
	width: auto;
	min-height: 60px;
	background-color: #fff;
	border-radius: 4px;
	position: relative;
	padding: 0 30px;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}
.main_info_task {
	width: 100%;
	height: 60px;
	display: flex;
}

.task_color {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 8px;
	border-radius: 4px 0 0 4px; 
	background: #FBACAC;
}
.task_checkbox {
	width: 4.5%;
	height: 100%;
	display: flex;
	align-items: center;
} 
.checkbox {
	height: 10%;
	width: 30px;
}
.custom-checkbox {
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #969797;
  border-radius: 0.25em;
  background-size: 90%;
  background-position: 53.5% 42%;
  background-repeat: no-repeat;
}
.custom-checkbox:checked+label::before {
  background-image: url('../images/inner_checkbox.svg');
 }

.task_clubname_deadline {
	height: 100%;
	width: 25.5%;
	display: flex;
	align-items: center;
	border-right: 3px solid #F5F7F8; 
}
.task_clubname_deadline_inner {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.clubname_task {
	font-weight: 600;
	color: #575958;
	font-size: 15px;
	line-height: 1;
	padding: 0; margin: 0;
}
.deadline_task {
	color: #575958;
	font-size: 0.95vw;
	line-height: 1;
	padding: 0; margin: 0;
}
.deadline_task_text {
	font-weight: 600;
	color: #969797;
}
.deadline_task_date {
	font-weight: 400;
	color: #575958;
	margin-left: 5px;
}

.task_name {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 30px;
}
.task_name_inner {
	height: 40px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.sort_date_task {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.task_id_more {
	display: flex;
	align-items: center;
}
.task_id {
	font-weight: 600;
	font-size: 1vw;
	color: #575958;
	margin-right: 30px;
}
.task_arrow_down {
	height: 20px;
	width: 20px;
	background-image: url('../images/arrow_down.png');
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
}
.task_extra {
	width: auto;
	height: 120px;
	background-color: #fff;
	display: none;
	padding-left: 4.5%;
	margin-top: 3px;
}
.border-bottom {
	border-bottom: 3px solid #F5F7F8; 	
} 
.task_extra_deadline {
	width: 100%;
	height: 60px;
}